body {
  background: linear-gradient(
    45deg,
    rgba(200, 150, 150, 0.15),
    rgba(50, 150, 200, 0.15)
  );

  background-attachment: fixed;
  padding-bottom: 40px;
}

h1 {
  text-align: center;
  font-family: Arial;
}

h2 {
  color: cornflowerblue;
  font-family: Arial;
}

h3 {
  font-family: Arial;
}

p {
  font-family: Arial;
}

a {
  font-family: Arial;
}

li {
  font-family: Arial;
}
