body {
  background: linear-gradient(
    45deg,
    rgba(200, 150, 150, 0.15),
    rgba(50, 150, 200, 0.15)
  );

  background-attachment: fixed;
  padding-bottom: 40px;
  margin: 0;
}

.navigation-bar {
  background-color: white;
  height: 57px;
  text-align: right;
  font-size: 1.13rem;
}

.nav-link {
  color: #a9a9a9;
  text-decoration: none;
  margin-right: 10px;
}

h1 {
  text-align: center;
  font-family: "Segoe UI";
  letter-spacing: 0.1em;
  font-weight: lighter;
  font-size: 38px;
}

h2 {
  color: cornflowerblue;
  font-family: "Segoe UI";
}

h3 {
  font-family: "Segoe UI";
}

p {
  font-family: "Segoe UI";
}

a {
  font-family: "Segoe UI";
}

li {
  font-family: "Segoe UI";
}

.nav-link {
  font-weight: lighter;
}

.nav-link:hover {
  color: black;
}
