body {
  background: linear-gradient(
    45deg,
    rgba(200, 150, 150, 0.15),
    rgba(50, 150, 200, 0.15)
  );

  background-attachment: fixed;
  padding-bottom: 40px;
  margin: 0;
}

hr {
  margin: auto 1px;
}

/* Navigation Bar */

.navigation-bar {
  display: flex;
  background-color: white;
  height: 57px;
  font-size: 1.13rem;
}

.name-bar {
  display: flex;
  margin-left: 2%;
}

.navlink-bar {
  display: flex;
  margin-left: 58%;
}

.name-link {
  color: black;
  font-size: 1.15rem;
  font-weight: lighter;
  align-self: center;
}

.nav-link {
  color: #a9a9a9;
  align-self: center;
  margin-right: 15px;
}

/*
.name-link {
  color: black;
  text-decoration: none;
  font-weight: lighter;
  margin-right: 700px;
  margin-left: 50px;
  font-size: 1.15rem;
}

.nav-link {
  color: #a9a9a9;
  text-decoration: none;
  margin-right: 10px;
  display: inline-block;
} */

.full-body {
  margin: 0.8in;
}

.sub-title {
  color: #a9a9a9;
  font-weight: lighter;
  font-family: "Segoe UI", "SF Pro Display", "Open Sans", sans-serif;
  text-align: center;
  font-size: 1.2rem;
  margin-top: -14px;
}

h1 {
  text-align: center;
  font-family: "Segoe UI", "SF Pro Display", "Open Sans", sans-serif;
  letter-spacing: 0.1em;
  font-weight: lighter;
  font-size: 38px;
}

h2 {
  font-family: "Segoe UI", "SF Pro Display", "Open Sans", sans-serif;
  font-weight: lighter;
  letter-spacing: 0.08em;
  color: black;
}

h3 {
  font-family: "Segoe UI", "SF Pro Display", "Open Sans", sans-serif;
}

p {
  font-family: "Segoe UI", "SF Pro Display", "Open Sans", sans-serif;
  font-size: 1.2rem;
  color: gray;
  font-weight: lighter;
}

a {
  font-family: "Segoe UI", "SF Pro Display", "Open Sans", sans-serif;
  text-decoration: none;
}

li {
  font-family: "Segoe UI", "SF Pro Display", "Open Sans", sans-serif;
}

.nav-link {
  font-weight: lighter;
}

.nav-link:hover {
  color: black;
}

a:hover {
  text-decoration: underline;
}

.social ul {
  /* position: absolute; */
  top: 50%;
  left: 50%;
  padding: 0;
  margin: 0;
  /* transform: translate(-100, -100%); */
  display: flex;
}

.social ul li {
  list-style: none;
  margin: 0 15px;
}

.social ul li .fa {
  font-size: 30px;
  line-height: 60px;
  color: white;
}

.social ul li a {
  position: relative;
  display: block;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  text-align: center;

  background: linear-gradient(
    45deg,
    rgba(200, 150, 150, 0.15),
    rgba(50, 150, 200, 0.15)
  );
}

.social ul li a:hover {
  background-color: #a9a9a9;
}
